<li>
	{{name}}

	<button class="change-munch" data-id="{{id}}" data-newmunch="{{munch}}">
		{{#if munch}}MUNCHIN' TIME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
